@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #FF6F00;
  --color-white: #fff;
  --color-dark: #000;
  --font-primary: "Afacad", sans-serif;
}


body {
  background-color: var(--color-white);
  font-family: var(--font-primary);
  color: var(--color-dark);
}

.container {
  max-width: 1268px;
  margin: auto;
  overflow: hidden;
  padding: 0 42px;
}


@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .abs-center-y {
    @apply absolute top-1/2 -translate-y-1/2;
  }
}

@layer components {
  .nav-item {
    @apply h-[41px] flex justify-center items-center rounded-full transition-all duration-500 ease-in-out hover:bg-white hover:text-dark
  }

  .nav-link {
    @apply text-[21px] text-white px-[27px] transition-all duration-300 hover:text-dark ease-in-out

  }

  .active {
    @apply bg-white
  }

  .button {
    @apply rounded-full w-full h-[50px] font-bold 
  }
}