@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #ff7b00;
  --color-white: #fff;
  --color-dark: #000;
  --font-primary: "Afacad", sans-serif;
}

body {
  background-color: var(--color-white);
  font-family: var(--font-primary);
  color: var(--color-dark);
}

.container {
  max-width: 1184px;
  margin: auto;
  overflow: hidden;
  padding: 0 42px;
}


@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .abs-center-y {
    @apply absolute top-1/2 -translate-y-1/2;
  }
}

@layer components {
  .nav-item {
    @apply h-[41px] flex justify-center items-center rounded-full
  }

  .nav-link {
    @apply text-[21px] text-white px-[27px]

  }

  .active {
    @apply bg-white
  }
}